.container {
  padding: 0 2rem;
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.date {
  padding-bottom: 10px;
}
.tasks {
  margin-bottom: -10px;
}
.title:before {
  content: "| ";
  color: #3e65fb;
  width: 5px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.work {
  margin-bottom: 60px;
}
.work h2 {
  margin-bottom: -21px;
  color: white;
}
.work h4 {
  color: #3e65fb;
  margin-bottom: -20px;
}
.work h5 {
  margin-bottom: -20px;
}
.work ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.work li {
  padding-left: 1em;
  text-indent: -1em;
  padding-bottom: 5px;
}
.work li:before {
  content: ">";
  padding-right: 5px;
  color: #809cf5;
}
.section {
  height: 100vh;
}
@media screen and (min-width: 1200px) {
  .main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .container {
    padding: 0 10rem;
  }
  .intro h1 {
    margin-top: -10px;
    margin-bottom: -10px;
    font-size: 100px;
  }
}
